.error {
  color: #f44336;
}

.context-column-type-selector {
  margin-right: 20px;
}

#dataset-analysis-in-progress-message {
  color: rgba(255, 255, 255, 0.3);
}

mat-header-cell {
  font-weight: bold;
}

#matNoDataRow {
  margin: 0 auto;
}

.warning {
  color: #f39c12;
}
