.flex-scrollable-v {
  flex: auto;
  height: 0px;
  overflow-y: auto;
}

mat-stepper {
  background-color: transparent;
}

::ng-deep .mat-horizontal-stepper-wrapper {
  height: 100%;
}

::ng-deep .mat-horizontal-content-container {
  height: 100%;
}

::ng-deep .mat-horizontal-stepper-content {
  display: flex;
  height: 100%;
}

.dataset-settings-step-form {
  margin-left: 5%;
  margin-bottom: 10px;
  padding-right: 5%;
}

.problem-initialization-step-form {
  margin: auto;
  width: 80%;
}

.problem-solving-step-form {
  margin-bottom: 10px;
}

.step-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

.step-title h4 {
  font-style: italic;
  margin-top: 5px;
}
